doctype html
html(lang='en')
    include inc/mixin
    body
        include inc/header

        main


        .container
            h1 gulp 4 -
                mark "bootstrap": "^4.3.1"

        include inc/footer
