doctype html
html(lang='en')
    include inc/mixin
    body
        include inc/header

        main
            .container
                .form-row.align-items-center
                    .col
                        .form-group
                            span binded
                            input#myText1.form-control(type='text')
                    .col
                        .form-group
                            span binded
                            input#myText2.form-control(type='text')
                    .col
                        .form-group
                            span binded:
                            span#myDomElement(type='text')


        include inc/footer
